@font-face {
    font-family: 'PoetsenOne';
    src: url('../assets/fonts/PoetsenOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 16px;
}

/* Reset y estilos básicos */
* {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    margin: 0;
}

body {
    background: #fff;
    font-family: 'PoetsenOne' 'Open Sans', sans-serif;
    font-size: 16px;
}

/* Centrado de contenido principal */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px;
}


/* Estilos del header */
header {
    position: relative;
    width: 100%;
    min-height: 150vh;
    background-size: cover;
    background-position: center;
}

/* Ajuste en nav para alinear el contenido como en container */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;   
    z-index: 1000;       
    padding: 0;
    background: rgba(149, 46, 15, 0.8); 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

/* Contenedor interno para centrar el contenido del nav */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    height: 100%;
}

nav .logo img {
    height: 50px;
}

.nav-elements {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1; /* Permite que la lista ocupe todo el espacio disponible entre el logo y el carrito */
    justify-content: flex-end; 
}

.nav-elements li {
    padding: 0 15px;
}

.nav-elements li a {
    display: block;     
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    position: relative; /* Posición relativa para posicionar absolutamente el contador */
}

.nav-elements li a:hover {
    color: rgb(243, 172, 30)
}

.cart-container {
    background-color: #fff; 
    padding: 10px 20px;
    border-radius: 20px; 
    display: flex;
    align-items: center;
    position: relative; 
    margin-left: auto;
    border: 2px solid rgb(221, 179, 1);
    margin-left: 30px;
    
}

.overlay { 
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;  
    z-index: 1;  
    /* fixes overlap error in IE7/8, 
       make sure you have an empty gif https://stackoverflow.com/questions/796087/make-a-div-into-a-link*/
    background-image: url('empty.gif');
  }   

.cart-container a {
    color: green; 
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cart-container:hover {
    background: rgb(186, 88, 51); 
}

.cart-container:hover a,
.cart-container:hover .cart-total,
.cart-container:hover .fa-cart-shopping {
    color: black; 
}


.cart-count {
    position: absolute;
    top: 2px; 
    right: 6px; 
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 11px;
    min-width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); 
}

.cart-total {
    padding-right: 10px;
}


/* MENU DE HAMBURGUESA */

.hamburguer-icon {
    display: none ;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
    
}

@media (max-width: 930px) {
    .hamburguer-icon {
        order: 2;
        display: block;
    }

    .cart-container {
        order: 1;
        margin-left: auto;
        margin-right: 35px;
    }

    .nav-elements {
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: rgba(149, 46, 15, 0.95);
        display: none;
        padding-right: 80px ;
    }

    .nav-elements li {
        text-align: right;
        padding: 10px 0;
    }

    .nav-elements.active {
        display: flex; /* Muestra el menú cuando el ícono de hamburguesa está activo */
    }    
}

/* Header */

.header-content {
    padding: 200px 0; 
    color: #fff; 
    text-align: left;
}

.header-content h5 {
    letter-spacing: 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 15px;
    padding-left: 3px;
}

.header-content h1 {
    font-size: 80px;
    font-weight: 900;
    font-family: 'PoetsenOne', sans-serif;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 15px;
    padding-left: 2px;    
}


/*  Section 1 */

.how-to-buy {
    position: relative;
    width: 100%;
    min-height: 65vh;    
    overflow: hidden;
    background-position: center;
    background-size: cover;    
}


.how-to-buy::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 133, 41, 0.8);
    z-index: 1;
}

.how-to-buy .how-to-buy-container {
    position: relative;
    z-index: 2;  
}

.how-to-buy h2 {
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 2;  
    margin-top: 80px;
    font-size: 40px;
}

.how-to-buy-container {
    max-height: 1200px;
    margin: 0 auto;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}

.buy-element {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 70px;
}

.buy-element i {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.648);
    padding-bottom: 20px;
}

.buy-element h5 {
    color: rgb(248, 208, 75);
    font-size: 20px;
    margin-bottom: 20px;
}

.buy-element p {
    color: rgba(255, 255, 255, 0.648);
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;

}



@media (max-width: 768px) {
    .how-to-buy-container {
        grid-template-columns: 1fr; 
        padding: 0 10px; 
        gap: 10px; 
        margin-bottom: 50px;
    }

    .how-to-buy h2 {
        margin-bottom: 40px;
    }

    .buy-element {
        padding: 20px 0;
    }
}

/* Section 2 productos */



#products {
    scroll-margin-top: 70px;
    padding: 50px 0;
}

.intro-products {
    text-align: center;
    padding-bottom: 80px;
}

.intro-products h2 {
    color: rgb(47, 112, 39);
    font-size: 40px;
}

.intro-products p {
    color: #a3a3a3;
    font-size: 20px;
}


.list-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
}

.product {
    text-align: center;
}

.product img {
    width: 70%;
    height: auto;
}

.product .fruit-name{
    color:    #6e6d6a ;
    font-size: 23px;
    padding: 10px 0;
}

.product .cost {
    color:  rgb(10, 137, 110);
    font-weight: bold;
    font-size: 20px;

}
.quantity-input {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.1);
    width: 120px; 
    height: 30px; 
    margin: 15px auto; 
    border: 1px solid rgba(0, 0, 0, 0.05); 
}

.quantity-input span {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    user-select:none;
 }

.quantity-input span.num {
    font-size: 20px;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
}

.quantity-input span.plus,
.quantity-input span.minus {
    cursor: pointer;
}

.product button {
    width: 70%;
    height: 40px;    
    background-color: rgb(51, 120, 42);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.product button:hover{
    background-color: rgb(36, 83, 30);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}



/* Section 3 importancia */

.importancia {
    background: rgb(119, 72, 72);
    height: 50vh;
}

/* Mapa */

.location {
    overflow: hidden;
    background: rgb( 245, 243, 237);
    padding-top: 60px;
    text-align: center;
}

.location h3 {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 40px;
}

.location .address {
    float: left;
    width: 50%;
    text-align: left;
}

.location .schedule {
    float: right;
    width: 50%;
    text-align: right;
    overflow: hidden;
}



.location .schedule h4, 
.location .address h4 {
    text-align: center;
    margin-bottom: 20px;
}

.location .schedule .week, 
.location .schedule .weekend {
    width: 50%;    
    float: left;
    text-align: center;
}

.map {
    width: 100%;
    overflow: hidden;
    padding-top: 50px;
}

.map iframe {
    width: 100%;
    max-height: 600px;
}


/* Contact us section */

#contact-us {
    scroll-margin-top: 70px;
}

.contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0 0 0 /.8),rgba(0 0 0 /.8)), url(../assets/images/contact-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;    
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 80px;
    gap: 10px;
    width: 1000px;
}    


.box-info {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.box-info >h2 {
    text-align: left;
    letter-spacing: 5px;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.data > p {
    font-size: 1rem;
}

.data > p > i {
    color: crimson;
    margin-right: 10px;
    font-size: 25px;
}

.social {
    display: flex;
    gap: 15px
}

.social > a {
    text-decoration: none;    
    width: 40px;
    height: 40px;
    background: crimson;
    text-align: center;
    border-radius: 50%; 
    transition: background-color 0.3s, transform 0.3s; 
}

.social > a > i {
    color: #fff;
    line-height: 40px;
    font-size: 20px;
}

.social > a:hover {
    background: #fff;    
    transform: scale(1.1); 
}

.social > a:hover >i {
    color: crimson; 
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.input-box {
    position: relative;
}
 
.input-box > input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline:none;
    background: rgba(255 255 255 / .1);
    border:3px solid transparent;
    letter-spacing: 1px;
    transition:.3s;
    color:#fff;
}

.input-box > input::placeholder,
.input-box > textarea::placeholder {
    color:#a3a3a3;
    
}

.input-box > input:focus::placeholder,
.input-box > textarea:focus::placeholder {
    color:transparent;
}

.input-box > input:focus,
.input-box > textarea:focus {
    border-bottom:3px solid crimson;
    animation: shake .1s;
}

.input-box > textarea {
    width: 100%;
    height: 130px;
    background: rgba(255 255 255 /.1);
    border: 3px solid transparent;
    letter-spacing: 1px;
    outline: none;
    transition: .3s;
    color: #fff;
    padding: 10px;
    resize: none;
}

.input-box > i {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right: 10px;
    color:rgba(255 255 255 / .3);
    transition: .3s;
}

.input-box > input:focus ~ i {
    color: crimson;
}

form > button {
    width: 100%;
    padding: 10px;
    outline: none;
    background: crimson;
    color: #fff;
    border: none;
    transition: .1s;
    cursor: pointer;
    font-size: 1rem;
}

form > button:hover, 
.links > a:hover {
    background: rgb(172,16, 47);
}

@keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {transform: translateX(10px);} 
}

@media screen and (max-width:600px) {
    .contact-container {
        width: 95%;
        display: flex;
        flex-direction: column;
        gap:20px;
    }

    .box-info {
        gap:15px;
    }

    .box-info > h1 {
        font-size: 1.5rem;
    }
}


/* WhatsApp button styles */

/* Estilo base para desktop */
.btn-whatsapp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
    .btn-whatsapp {
        width: 40px;
        height: 40px;
        line-height: 40px;
        bottom: 20px;
        right: 20px;
        font-size: 22px;
    }
}

.btn-whatsapp:hover {
    text-decoration: none;
    color: #0df053;
    background: #fff;
}



@media (max-width: 726px){
    .container {
        padding: 0 50px;
    }

    header {
        /* min-height: 150vh;  */
    }    

    .nav-elements {
        padding-right: 30px ;
    }
}

@media (max-width: 570px){
    .container {
        padding: 0 20px;
    }

    header {
        /* height: 90vh; */
    }  

    .header-content {
        padding: 140px 0; 
        text-align: center;
    }

    .nav-elements {
        padding-right: 0px ;
    }
}


@media (max-width: 505px){
    

    .header-content h5 {
        font-size: 12px;
    }

    .header-content h1 {
        font-size: 60px;
    }

    header {
        /* height: 120vh; */
    } 
}



